[Unit]
Description=AI Motion Detection with Telegram + HTTP Alert
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/motion/motion_detect.py
Restart=always
User=pi
WorkingDirectory=/home/pi/motion

[Install]
WantedBy=multi-user.target
