[Unit]
Description=Timelapse Web UI
After=network.target

[Service]
WorkingDirectory=/home/pi/web_ui
ExecStart=/usr/bin/python3 server.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
